 .App {
  text-align: center;
  background-color: #061121;
  font-family: 'Rubik', sans-serif;
}

 .App-header {
  
}


.App-content {
  
}

.App-content h1 {
  
} 

.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
