@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&display=swap');


body{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans Display', sans-serif;
	background-color: #061121;
}
.Offres{

	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.Cartes{
    background-color: white;
    color: black;
    padding: 30px;
    max-width: 260px;
    height: 630px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 9px 8px 10px 4px rgba(11, 123, 242, 0.75);
}
.Cartes h1, h4, h3{
	text-align: center;
	margin: none;
	font-weight: bold;
	size: 40pt;
}
.Cartes ul{
	border-bottom: 1px solid grey;
	justify-content:space-between ;
}
.Cartes ul:hover{
	border-bottom: 1px solid grey;
	background-color: rgba(146, 146, 140, 0.1);
	border-radius: 15px;
	border:1px solid grey;
}
.Cartes .btn1 {
	text-align: center;
	background-color: #355788;
	color: white;
	border-radius:15px;
	position: relative;
	margin-top: 191.5px;
}
.Cartes .btn1:hover {
	text-align: center;
	background-color: white;
	color: #355788;
	border-radius:15px;
	position: relative;
	margin-top: 191.5px;
}
.Cartes .btn2 {
	text-align: center;
	background-color: #355788;
	color: white;
	border-radius:15px;
	position: relative;
	margin-top: 85px;
}
.Cartes .btn2:hover {
	text-align: center;
	background-color: white;
	color: #355788;
	border-radius:15px;
	position: relative;
	margin-top: 85px;
}
.Cartes .btn3 {
	text-align: center;
	background-color: #355788;
	color: white;
	border-radius:15px;
	position: relative;
	margin-top: 149px;
}
.Cartes .btn3:hover {
	text-align: center;
	background-color: white;
	color: #355788;
	border-radius:15px;
	position: relative;
	margin-top: 149px;
}
.Cartes .btn4 {
	text-align: center;
	background-color: #355788;
	color: white;
	border-radius:15px;
	position: relative;
	margin-top: 20px;
}
.Cartes .btn4:hover {
	text-align: center;
	background-color: white;
	color: #355788;
	border-radius:15px;
	position: relative;
	margin-top: 20px;
}

img{
	width: 20px;
	height: 20px;
	margin-right: 15px;
}